 
.cta 
    background: #7700FF
    border: none
    color: white

    text-transform: uppercase
    border-radius: 4px
    padding: 1em
    cursor: pointer
    font-family: Varela Round,arial,sans-serif

a:hover 
    color: #4b0082
    border-bottom-color: #ddd

a:visited
    text-decoration: none 
    color: #999

a:active
    color: #111
    border-bottom-color: #ddd

a:link 
  color: #4b0082
