<header>
  <div class="container">
    <!--change this later-->
    <!--at 14:58 on youtube video-->
    <a routerLink="/" class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li class="page-collection active-link">
          <a routerLink="/">Home</a>
        </li>
        <li class="page-collection">
          <a routerLink="/about">About</a>
        </li>
        <li class="page-collection">
          <a routerLink="/contact">Contact us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>