<header>  
  <div style="text-align:center">
    <h1 class="logo" data-content-field="site-title" data-shirnk-original-size="26" style="letter-spacing: 0.115385em; font-size: 12px;">
      <a href=""> Kristi Takach</a>      
    </h1>  
  </div>
  <div class="container">
    <!--change this later-->
    <!--at 14:58 on youtube video-->
    <a routerLink="/" class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li class="page-collection">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="page-collection">
          <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="page-collection">
          <a routerLink="/contact" routerLinkActive="active">Contact us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

 