<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<section>
<div style="text-align:center">
  <h1>
    Kristi Takach
  </h1>
  <img width="800" alt="Placeholder pic" src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwigo-qN5YfkAhVSU98KHc8vAqYQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.today.com%2Fpets%2Fpuppies-reach-peak-cuteness-8-weeks-old-according-study-t129124&psig=AOvVaw0dm-C-L3_Y3OF0_xI48sFs&ust=1566058606902577">
</div>


<router-outlet></router-outlet>
</section>