<div><img src="assets/img_for_site.jpg" alt="That's me!"></div>

<div class="about">
    <p>
        Hello! I'm Kristi! I'm currently a junior at Kent State University in their computer science program with plans
        to be a data scientist upon graduation. <br /><br />

        After working in the advertising world for four years, I decided to go back to school for another bachelor's in
        Computer Science. Seems like a polar opposite career move, huh? Advertising was a good introduction to the data
        science career I'm currently in pursuit of.<br /><br />

        My job in advertising was to recommend to the client how to spend their ad budget. I mainly worked with digital
        advertising, which has metrics associated with it. I used this data to strategize what media the client should
        use and to also report back after the campaign completed. I came to enjoy the world of data and wanted to work
        with it more than my job allowed. <br /><br />

        Around this time, data science really came into vogue. It seemed like more a fit for me than advertising was, so
        made the decision to go back to school to get the hard STEM skils my original degree and advertising career did
        not provide. And now I'm here! <br /><br />
    </p>
</div>